[submodule "tiago_robot"]
	path = tiago_robot
	url =  https://github.com/pal-robotics/tiago_robot.git
	branch = kinetic-devel
[submodule "tiago_description_calibration"]
	path = tiago_description_calibration
	url = https://github.com/pal-robotics/tiago_description_calibration.git
	branch = indigo-devel
[submodule "pmb2_robot"]
	path = pmb2_robot
	url =  https://github.com/pal-robotics/pmb2_robot.git
	branch = kinetic-devel
[submodule "tiago_dual_description_calibration"]
	path = tiago_dual_description_calibration
	url = https://github.com/pal-robotics/tiago_dual_description_calibration.git
	branch = master
[submodule "tiago_dual_robot"]
	path = tiago_dual_robot
	url = https://github.com/pal-robotics/tiago_dual_robot.git
	branch = kinetic-devel
[submodule "pal_gripper"]
	path = pal_gripper
	url = https://github.com/pal-robotics/pal_gripper.git
	branch = kinetic-devel
[submodule "hey5_description"]
	path = hey5_description
	url = https://github.com/pal-robotics/hey5_description.git
	branch = master
[submodule "urdf_test"]
	path = urdf_test
	url = https://github.com/pal-robotics/urdf_test.git
[submodule "custom_end_effector"]
	path = custom_end_effector
	url = https://github.com/pal-robotics/custom_end_effector.git
[submodule "pal_wsg_gripper"]
	path = pal_wsg_gripper
	url = https://github.com/pal-robotics/pal_wsg_gripper
[submodule "pal_msgs"]
	path = pal_msgs
	url = https://github.com/pal-robotics/pal_msgs.git
[submodule "humanoid_msgs"]
	path = humanoid_msgs
	url = https://github.com/ahornung/humanoid_msgs.git
[submodule "pal_robotiq_gripper"]
	path = pal_robotiq_gripper
	url = https://github.com/pal-robotics/pal_robotiq_gripper.git
[submodule "iai_tiago_description"]
	path = iai_tiago_description
	url = git@github.com:code-iai/iai_tiago_description.git
	branch = main
