[submodule "tiago_robot"]
	path = tiago_robot
	url =  https://github.com/pal-robotics/tiago_robot.git
	branch = kinetic-devel
[submodule "tiago_description_calibration"]
	path = tiago_description_calibration
	url = https://github.com/pal-robotics/tiago_description_calibration.git
	branch = indigo-devel
[submodule "pmb2_robot"]
	path = pmb2_robot
	url =  https://github.com/pal-robotics/pmb2_robot.git
	branch = kinetic-devel
[submodule "hey5_description"]
	path = hey5_description
	url =  https://github.com/pal-robotics/hey5_description.git
	branch = master
[submodule "tiago_dual_description_calibration"]
	path = tiago_dual_description_calibration
	url = https://github.com/pal-robotics/tiago_dual_description_calibration.git
	branch = master
[submodule "tiago_dual_robot"]
	path = tiago_dual_robot
	url = https://github.com/pal-robotics/tiago_dual_robot.git
	branch = kinetic-devel
[submodule "pal_gripper"]
	path = pal_gripper
	url = https://github.com/pal-robotics/pal_gripper.git
	branch = kinetic-devel
